

div.container {
    width: 50%;
    margin: 10% auto;
    text-align: center;
    background-color: #d0dbe0;
    border-radius: 10px;
    padding: 16px;
}

.container > div{
    margin: 20px 0;
}

label,span{
    display: inline-block;
    width: 80px;
}
input[type='text'],input[type='email'],input[type='password']{
    outline: none;
    border: 1px solid rgb(65, 62, 68);
    border-radius: 5px;
    height: 20px;
    width: 60%;
    padding: 0 5px;
}
button{
    cursor: pointer;
}
.errMsg{
    /* width: 40%; */
    color: red;
}
